<div class="row">
  <div class="col-lg-4">
    <ul class="list-group">
      <li class="list-group-item">
        <%= link_to fa_icon("plus") + " Add New Actor", new_admin_actor_path %>
      </li>
      <li class="list-group-item">
        <%= link_to fa_icon("plus") + " Add New Network", new_admin_network_path %>
      </li>
      <li class="list-group-item">
        <%= link_to fa_icon("plus") + " Add New Genre", new_admin_genre_path %>
      </li>
    </ul>
  </div>
</div>
