/*
 *= require froala_editor.min.css
 *= require froala_style.min.css
 *= require_self
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/* Main Navigation Menu */
.navbar {
  background: #606c88; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #606c88 0%, #3f4c6b 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover,  #606c88 0%,#3f4c6b 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center,  #606c88 0%,#3f4c6b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  border: none;
  border-radius: 0;

  margin-bottom:5px;

  .navbar-brand {
    color:#fff;
    font-weight:bold;
    &:hover {
      color:#fff;
    }
  }

  .navbar-nav {
    li {
      a {
        color:#fff;
        padding-left:5px;
        padding-right:5px;
        &:hover {
          color:#ccc;
        }
      }
    }

    .dropdown-menu li a {
      color:#000;
    }
  }
}

@media (max-width: $screen-sm-min) {
  .navbar {
    .navbar-nav {
      .dropdown-menu li a {
        color:#fff !important;
      }
    }
  }
}
