/*
 *= require_self
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "colors";
@import "networks";


/* Main navigation menu */
.navbar {
  margin-bottom:0;
}
/* Alerts */
.alert-notice {
  @extend .alert-success;
}
.alert-alert {
  @extend .alert-danger;
}

/* Buttons */
.btn {
  border-radius: 0;
}
a.new, a.edit, a.delete {
  @extend .btn;
  &:before {
    font-family: "FontAwesome";
    padding-right: 0.5em;
  }
}
a.new {
  @extend .btn-success;
  &:before {
    @extend .fa-plus;
  }
}
a.edit {
  @extend .btn-primary;
  &:before {
    @extend .fa-pencil;
  }
}
a.delete {
  @extend .btn-danger;
  &:before {
    @extend .fa-trash;
  }
}

/* Pagination */
.pagination-wrapper {
  .active span {
    background: $gray;
    color: #fff;
    font-weight: bold;
    border:1px solid $gray;
  }
}
