@media (min-width: $screen-sm-min) {
  ul.admin-actions {
    position:absolute;
    top:12px;
    right:10px;
  }
}

@media (max-width: $screen-sm-min) {
  ul.admin-actions {
    position:relative;
    text-align:left;

    li {
      margin-top:2px;
    }
  }
}
