<header>
  <h1>Users</h1>
  <ul class="actions">
    <li>
      <%= link_to "New User", new_admin_user_path, class: "new" %>
    </li>
  </ul>
</header>


<table class="table table-responsive">
  <tr>
    <th>Id</th>
    <th>Email</th>
    <th>Role</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= link_to user.email, [:admin, user] %></td>
      <td>
        <% if user.admin? %>
          <span class="admin-label">Admin</span>
        <% else %>
          Member
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
